<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.karhoo.karhootraveller">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".KarhooApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key"
            tools:replace="android:value"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karhoo.uisdk.screen.booking.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karhoo.uisdk.screen.address.AddressActivity"
            android:label="@string/title_activity_address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name=".presentation.register.RegistrationActivity"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karhoo.uisdk.screen.trip.TripActivity"
            android:label="@string/title_activity_trip"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karhoo.uisdk.screen.rides.RidesActivity"
            android:label="@string/title_activity_rides"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karhoo.uisdk.screen.rides.detail.RideDetailActivity"
            android:label="@string/title_activity_rides"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karhoo.uisdk.screen.airport.FlightDetailsActivity"
            android:label="@string/title_activity_airport"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.karhoo.uisdk.screen.trip.bookingstatus.driverphoto.DriverPhotoActivity"
            android:label="driverPhoto"
            android:parentActivityName="com.karhoo.uisdk.screen.trip.TripActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.web.KarhooWebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" />

    </application>


</manifest>